h1{
    text-align: center;
}

#container {
    background-color: #091c4f;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

}

#container div{
    width: 400px;
    height: 100px;

}

div:nth-last-of-type(2){
    align-self:flex-end;
}
div:nth-last-of-type(5){
    align-self:center;
}
